.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/interpreter/v16/.suo
.vs/interpreter/v16/Browse.VC.db
.vs/interpreter/v16/ipch/AutoPCH/f212ad4639f72ffb/KYULING-LANG-CODE.ipch
.vs/*
*.obj